<a href="https://colab.research.google.com/github/eanchiquep/Machine_Learning_Google_Lab/blob/master/Optimizaci%C3%B3n_parametrica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# cuando obtenemos finalmente el modelo que deseamos implementar, debemos realizar la busqueda de los parametros que nos den mejores resultados
# para esto es necesario realizar pruebas de optimización parametrica, la cual se puede dar de 3 formas
# manual
# Optimización por grilla de parametros  GridSearchCV
# Optimización por busqueda aleatorea RandomizedSearchCV

In [ ]:
import pandas as pd
from sklearn.model_selection import RandomizedSearchCV
from sklearn.ensemble import RandomForestRegressor

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
%cd '/content/drive/My Drive/Colab Notebooks/db'
!ls

/content/drive/My Drive/Colab Notebooks/db
AGRICULTURE.csv			     happy2019.csv
bicicletas-compartidas.csv	     Heart.csv
candy.csv			     london_merged.csv
CO2.csv				     meteorite-landings.csv
covid_19_data.csv		     meteorites_sum.csv
diabetes.csv			     poblacion.csv
ELECTRICAL_ENERGY.csv		     PUPOLATION.csv
felicidad.csv			     salarios.csv
FOREST.csv			     test.csv
GlobalLandTemperaturesByCountry.csv  test.xlsx
happy2017_corrupted.csv		     titanic.png
happy2017_corrupted.xlsx	     titanic-test.csv
happy2017.csv			     titanic-train.csv

In [ ]:
dataset = pd.read_csv('felicidad.csv')
dataset

                      country  rank  score  ...  generosity  corruption  dystopia
0                      Norway     1  7.537  ...    0.362012    0.315964  2.277027
1                     Denmark     2  7.522  ...    0.355280    0.400770  2.313707
2                     Iceland     3  7.504  ...    0.475540    0.153527  2.322715
3                 Switzerland     4  7.494  ...    0.290549    0.367007  2.276716
4                     Finland     5  7.469  ...    0.245483    0.382612  2.430182
..                        ...   ...    ...  ...         ...         ...       ...
150                    Rwanda   151  3.471  ...    0.252756    0.455220  0.540061
151                     Syria   152  3.462  ...    0.493664    0.151347  1.061574
152                  Tanzania   153  3.349  ...    0.354256    0.066035  0.621130
153                   Burundi   154  2.905  ...    0.204435    0.084148  1.683024
154  Central African Republic   155  2.693  ...    0.280876    0.056565  2.066005

[155 rows x 12 columns]

In [ ]:
X = dataset.drop(['country','rank', 'score'], axis = 1)
y = dataset['score']

In [ ]:
reg = RandomForestRegressor()

In [ ]:
parametros = {
    'n_estimators' : range(4,16),
    'criterion' : ['mse', 'mae'],
    'max_depth' : range(2,11)
}

In [ ]:
rand_est = RandomizedSearchCV(reg, parametros, n_iter= 10 , cv = 3, scoring='neg_mean_absolute_error')
rand_est.fit(X,y)
rand_est.best_estimator_
rand_est.best_params_

rand_est.predict(X.iloc[[0]])

array([7.5317274])